@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: #F6F4EB;
    color: rgb(0, 0, 0);
}

.header{
    max-width: 1140px;
    margin: auto;
    display: flex;
    height: 100px;
    align-items: center;
}

.logo{
}

.logoimg{
    height: 100px;;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li{
    list-style: none;
}

.menu ul{
    display: flex;
}

.menu li a{
    color: rgb(122, 122, 122);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 0px 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #F6F4EB;
}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #336196;
    color: #336196;
}

.button{
    display: inline-block;
    background-color: #336196;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner{
    background-color: rgb(255, 255, 255);
    height:calc(100vh - 100px);
    background-image: url(/media/slide-1.png);
    background-size:60%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, .1);
}

.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span{
    color: #336196;
}

.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #336196;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active{
    background-color: #336196;
}

.default{
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body{
    margin: auto;
    max-width: 1140px;
}

.default.light{
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body{
    color: #000;
}

.default.dark{
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body{
    color: white;
}





/* 
CSS DE ÁREAS ESPECÍFICAS
*/
.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex: 1;
}

.section-aboutus--left p{
    font-size: 14;
    line-height: 25px;
}

.section-aboutus--right{
    width: 520px;
    text-align: center;
}

.section-aboutus--right img{
    height: 380px;
    box-shadow: 0px 5px 10px #333;
}

.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child{
    border-left: 1px solid #333;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}




.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border:1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters  li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid #336196;
}

.section-projects--filters li:first-child{
    border-left: 0px;
}

.section-projects-photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.section-projects-photo{
    width: 280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600px;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display:flex;
} 



.bg-team{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0px;
}

.section-team-area{
    background-color: rgba(0, 0, 0, .8);
    padding: 50px 0px;
}

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders{
    width: 1000vw;
    height: 100%;
}

.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 30px;
}

.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #336196;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active{
    background-color: #336196;
}

.section-team--avatar{
    width: 150px;
    height: auto;
}

.section-team--name{
    text-transform: bold;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social{
    display: flex;
    margin-top: 20px;
}

.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px;
}

.section-team--social a:hover{
    background-color: #336196;
}



.section-clients{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.section-clients--name{
    text-align: center;
}

.section-clients--name h3{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
}

.section-clients--name p{
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #333;
}

.section-clients--desc{
    max-width: 680px;
    text-align:center;
    margin-top: 10px;
}

.section-clients .sliders-pointers{
    width: 100vw;
    height: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-clients .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #336196;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-clients .pointer.active{
    background-color: #336196;
}

.section-logos{
    display: flex;
    justify-content: center;
    max-width: 880px;
    margin: auto;
}

.section-logos img{
    padding: 30px;
}